
.modalContainer {
  width: 280px;
  height: 280px;
  border-radius: 5px;
  background-color: white;
  background: linear-gradient(180deg, rgb(255, 255, 255) 55%, #F7F7F7 50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warningImg {

  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  color: red;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.modalContainer .subtitle {
  display: inline-block;
  text-align: center;
  margin-top: 50px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.buttonX {
  font-size: 10px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 2px solid #dbd4d4;
  font-weight: bolder;
  color: #585858;
  top: 35px;
  position: absolute;
}

.footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 125px;
  height: 28px;
  margin: 10px;
  border: none;
  margin-top: 20px;
  background-color: #FF0127;
  color: white;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

